.dashboard {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: repeat(6, minmax(0, 1fr));
	column-gap: 1.5rem;
}

.dashFirst {
	border-radius: 3rem;
	width: 100%;
	height: 100%;
	background-color: #302359;
	grid-column: span 3 / span 3;
	grid-row: span 3 / span 3 ;
}

.subTabs {
	margin-top: -50px;
}

.tabContent {
	margin-top: -40px;
	
}

.dashSecond {
	display: grid;
	grid-template-rows: repeat(2, minmax(0, 1fr));
	border-radius: 3rem;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 100%;
	background-color: #302359;
	grid-column: span 2 / span 2;
	grid-row: span 3 / span 3;
}

.dashSecondA {
	grid-row: span 1 / span 1;
	border-radius: 2rem;
	margin: 16px;
	background-color: #4F1787;

}

.secondATitle{
	padding-left: 32px;
}

.secondBTitle{
	padding-left: 32px;
}

.dashSecondB {
	grid-row: span 1 / span 1;
	border-radius: 2rem;
	margin: 16px;
	background-color: #4F1787;
}

.dashThird {
	display: grid;
	border-radius: 3rem;
	margin-top: 24px;
	margin-bottom: 24px;
	background-color: #302359;
	width: 100%;
	grid-row: span 3 / span 3;
}

.dashThirdContent{
	border-radius: 2rem;
	margin: 16px;
	background-color: #4F1787;
}
.thirdTitle{
	padding-left: 32px;
}
