.tabs-container {
    display: flex;
}

.tab {
	padding-top: 40px;
	padding-left: 50px;
	padding-bottom: 40px;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 400;
	cursor: pointer;
}

.tab.active-tab {
    color: #FB773C;
	font-weight: 700;
}

.activeContent { 
	margin-left: 50px;
}